<div>
    <mat-toolbar>
        <span>{{this.newBugForm.value.bugId?"Modify Bug":"New Bug"}}</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>
</div>
<div class="container">
    <form [formGroup]="newBugForm" class="normal-form">
        <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="title" pattern="[a-zA-Z0-9][a-zA-Z0-9 ]+" matInput
                            placeholder="Title of Bug*" maxlength="50">
                          
                        <mat-error *ngIf="newBugForm.controls.title.errors?.['required']">
                            Title is Required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="description"
                            pattern="[a-zA-Z0-9][a-zA-Z0-9 ]+" matInput placeholder="Description of Bug*" maxlength="200">
                        <mat-error *ngIf="newBugForm.controls.description.errors?.['required']">
                            Description is Required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <mat-select formControlName="status" placeholder="Status of Bug*">
                            <ng-container *ngFor="let status of bugStatus">
                                <mat-option value="{{status}}">{{status}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="newBugForm.controls.status.errors?.['required']">
                            Status is Required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select [disabled]="isDeveloper()" formControlName="priority"
                            placeholder="Priority of Bug*">
                            <ng-container *ngFor="let priority of bugPriority">
                                <mat-option value="{{priority}}">{{priority}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="newBugForm.controls.priority.errors?.['required']">
                            Priority is Required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select [disabled]="isDeveloper()" formControlName="userId" placeholder="Assignee*">
                            <ng-container *ngFor="let user of devUsers">
                                <mat-option value="{{user.userId}}">{{user.firstName+" "+user.lastName}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <!-- <mat-error>This field is mandatory.</mat-error> -->
                        <mat-error *ngIf="newBugForm.controls.userId.errors?.['required']">
                            Assignee is Required!
                        </mat-error>
                    </mat-form-field>
                    <div class="button-row">
                        <button mat-raised-button color="primary" type="button" [disabled]="newBugForm.invalid"
                            (click)="onSubmit()">Submit</button>
                        <button mat-raised-button color="warn" type="button" (click)="onClose()">Cancel</button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>