<div class="login-page" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutAlign="center center" class="login-page-dailog">
    <form [formGroup]="loginForm">
      <div>
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label style="color: white;">User Email</mat-label><br>
          <input matInput formControlName="email" required style="color: white;" [(ngModel)]="email_clear">
        
          <mat-error *ngIf="loginForm.controls.email.errors?.['required']" style="color: white;">
            Email is Required!
        </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label style="color: white;">Password</mat-label><br>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required style="color: white;" [(ngModel)]="password_clear">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" style="color: white;">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        
          <mat-error *ngIf="loginForm.controls.password.errors?.['required']" style="color: white;">
            Password is Required!
        </mat-error>
        </mat-form-field>
      
      </div>
      <button mat-stroked-button style="color: white; margin-right: 5px; margin-top: 5px; background-color: orange;" class="buttonpadding"
        (click)=login()>Log
        in</button>

        <button mat-stroked-button style="color: white; margin-top: 5px; background-color: green;" class="buttonpadding" 
         (click)="email_clear=''" (click)="password_clear=''">Clear</button>
    </form>
  </div>
  <div>
  </div>
</div>