<div class="container">
    <mat-toolbar style="margin: auto; padding: auto;  " class="title-toolbar">
        <span class="fill-remaining-space"></span>
        <span style="color: white;">User Dashboard</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
</div>
<div class="search-div">
    <button mat-raised-button (click)="onCreateUser()">
        <mat-icon>add</mat-icon>Add User
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search user" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button class="buttonpadding" mat-raised-button [routerLink]="'/projects'" style="margin: 5px;">
        Projects Dashboard
    </button>
    <span class="fill-remaining-space"></span>
    <span style="color: white; margin-left: 5px;">Welcome, {{name}} ({{userRole}})</span>
    <span class="fill-remaining-space"></span>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="users" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="FirstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="bold-font" >First Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="bold-font">Last Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.lastName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Email">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="bold-font">Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Creation Time">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="bold-font">Creation Time</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.createdAt | date: 'short'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Role">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="bold-font">Role</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.role}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="bold-font">Active</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-slide-toggle [disabled]="isAdmin(element.role) && isActive(element.active)"  [ngModel]="element.active"
                    (change)="onActive($event,element)"></mat-slide-toggle>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="bold-font">Actions</mat-header-cell>
            <mat-cell *matCellDef="let row">

                <button [disabled]="isAdmin(row.role) && isActive(row.active)"  mat-icon-button (click)="onEdit(row)">
                    <mat-icon matTooltip="Edit">launch</mat-icon>
                </button>

                <button [disabled]="isAdmin(row.role) && isActive(row.active)"  mat-icon-button color="warn" (click)="onDelete(row)">
                    <mat-icon matTooltip="Delete">delete_outline</mat-icon>
                </button>

            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':isLoading}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(isLoading && users.data.length==0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>