<div>
    <mat-toolbar>
        <span>{{this.newUserForm.value.userId?"Modify User":"New User"}}</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onCloseUser()" tabIndex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>
</div>
<div class="container">
    <form [formGroup]="newUserForm" class="normal-form">
        <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="firstName"  pattern="[a-zA-Z0-9][a-zA-Z0-9 ]+" matInput placeholder="Enter First Name*">
                        <mat-error *ngIf="newUserForm.controls.firstName.errors?.['required']">
                            First Name is Required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="lastName"  pattern="[a-zA-Z0-9][a-zA-Z0-9 ]+" matInput placeholder="Enter Last Name*">
                        <mat-error *ngIf="newUserForm.controls.lastName.errors?.['required']">
                            LastName is Required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="email" matInput placeholder="Enter Email*">
                        <mat-error *ngIf="newUserForm.controls.email.errors?.['required']">
                            Email is Required!
                        </mat-error>
                        <mat-error *ngIf="newUserForm.controls.email.errors?.['email']">
                            Enter valid email
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="password" matInput placeholder="Enter Password*">
                        <mat-error *ngIf="newUserForm.controls.password.errors?.['required']">
                            Password is Required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="role" placeholder=" Select Role*">
                            <ng-container *ngFor="let role of userRole">
                                <mat-option value="{{role}}">{{role}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="newUserForm.controls.role.errors?.['required']">
                            Role is Required!
                        </mat-error>
                    </mat-form-field>
                    <div class="button-row">
                        <button mat-raised-button color="primary" type="button" [disabled]="newUserForm.invalid" (click)="onSubmitUser()">Submit</button>
                        <button mat-raised-button color="warn" type="button" (click)="onClearuser()">Clear</button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
